body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #000000;
    background-color: #7c7c7c;  
}

header {
    background-color: #272727;
    color: white;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

.introduccion {
    padding: 20px;
    background-color: rgb(255, 255, 255);
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.seccion {
    padding: 20px;
    background-color: rgb(255, 255, 255);
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* Para manejar el float de la imagen */
}

h2 {
    margin-top: 0;
}

.imagen-derecha {
    float: right;
    margin-left: 20px;
    margin-right: 400px;
    margin-bottom: 20px;
    max-width: 200px;

}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #000000;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}

.final{
    width: 600px;
    margin-left: 55%;
    margin-bottom: 40px;
}